<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {   
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
</style>
</head>
<body>

<div class="header">
  <h2>Abhishek singh</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>THIS IS MY JOURNEY </h2>
      <h5>My photography skills, 7 August 2021</h5>
      <div class="fakeimg" style="height:200px;"><img src="https://drive.google.com/file/d/1CzoDwzAbW-nbD__7DSOVUCzc1_ifYNMh/view?usp=sharing" alt="Indian boy"></div>
      <p>About Image</p>
      <p>This image of my friend, shot by smartphone it is my random experiment of 
only 3 subject in straight line pattern, 
20% grass 75% Sky and 5% main subject, its look awesome,
 and pose is inspired by Kung fu panda anime
</p>
    
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Just a trial blog by me</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>
